<!-- Footer -->
<footer class="page-footer primary-color">
    <div class="section center">
        <h2 class="heading white-text">{$sys.title}</h2>
        <p class="center-align grey-text text-lighten-4"> &copy;{$sys.copyright} <a href="" style="color: #fff;" target="_blank" rel="nofollow">{$sys.bah}</a></p>
    </div>
    <div class="footer-copyright">
        <div class="container center">
            <span>Made with <i class="ion-ios-heart"></i> by beauty</span>
        </div>
    </div>
</footer>