<div class="fly-footer">
    <p>
        <a href="{$config.domain}" target="_blank">BEAUTY</a>
        {$config.copyright} &copy;
        <a href="http://beian.miit.gov.cn/" target="_blank">{$config.bah}</a>
        <a href="__WEBURL__" target="_blank">BEAUTY 出品</a>
    </p>
    <p>
        {volist name="linkList" id="vo"}
        <a href="{$vo.url}" target="_blank">{$vo.title}</a>
        {/volist}
    </p>
</div>
<script>
    layui.cache.page = 'jie';
    layui.cache.user = {
        username: '{:session("user.username")}'?'{:session("user.username")}':'游客'
        ,uid: -1
        ,avatar: '{:session("user.avatar")}'?'{:session("user.avatar")}':'__HOME__/images/avatar/00.jpg'
        ,experience: '{:session("user.id")}'?'{:session("user.id")}':''
        ,sex: '{:session("user.sex")}'?'{:session("user.sex")}':'男'
    };
</script>