{include file='common/head'}
<div style="margin:auto;">
    <style>

    </style>
    <div class="layui-col-md12 cms-index-module-adv1">
        <div class="layui-carousel" id="carousel">
            <div carousel-item id="adv_content" nctype="object_module_edit">
                {volist name="$adList" id="vo"}
                <div class="img_li picture">
                    <a href="{$vo.url}" data-url="{$vo.url}"
                       data-pic="__WEBURL__{$vo.pic}"
                       data-title="{$vo.title}" class="title" target="_blank">
                        <div class="banner-title">{$vo.title}</div>
                        <img src="__WEBURL__{$vo.pic}"
                             alt="{$vo.title}" class="t-img"></a></div>
                {/volist}
            </div>
        </div>
    </div>
    <script>
        layui.use(['util', 'carousel'], function () {
            var util = layui.util, $ = layui.$, carousel = layui.carousel;
            //建造实例
            carousel.render({
                elem: '#carousel'
                , width: '100%' //设置容器宽度
                , arrow: 'hover' //悬停显示箭头
                , height: '460px'
                , anim: 'fade' //切换动画方式
                , autoplay: true
            });
        });
    </script>
    <div class="layui-container cms-index-module-index1 module-style-style1">
        <div class="layui-row layui-col-space15 cms-index-module-index1-1">
            <div class="layui-col-md8">
                <div class="fly-panel clt-panel">
                    <div class="fly-panel-title fly-filter title-bar">
                        <a id="index1_2_1_title" nctype="object_module_edit">最新动态</a>
                    </div>
                    <div class="content-box content-big">
                        <ul class="fly-list" id="index1_2_1_1_content" nctype="object_module_edit">
                            {volist name="$list_a" id="vo"}
                            <li class="cms-index-article-normal">
                                <a nctype="cms_index_not_display" href="{:url('/info',[$vo.catid=>$vo.id])}"
                                   class="fly-avatar">
                                    <img src="/static/img/no_pic.png" alt="{$vo.title} ">
                                </a>
                                <h2>
                                    <a class="title" nctype="article_item" href="{:url('/info',[$vo.catid=>$vo.id])}"
                                       target="_blank" data-cname="{$vo.category.catname}" data-id="{$vo.id}"
                                       data-url="{:url('/info',[$vo.catid=>$vo.id])}" data-time="{$vo.date}"
                                       data-thumb="/static/img/no_pic.png" data-hits="{$vo.hits}" data-title="{$vo.title}"
                                       data-curl="">
                                        {$vo.title}
                                    </a>
                                </h2>
                                <div nctype="cms_index_not_display" class="fly-list-info">
                                    <a href="" nctype="cms_index_not_display">{$vo.category.catname}</a>
                                    <span>{$vo.date}</span>
                                    <span class="fly-list-nums"><i class="iconfont" title="点击"></i> {$vo.hits}</span>
                                </div>
                            </li>
                            {/volist}
                        </ul>
                    </div>
                </div>
            </div>

            <div class="layui-col-md4">
                <div class="fly-panel">
                    <div class="title-bar">
                        <h3 class="fly-panel-title" id="index1_2_title" nctype="object_module_edit">热门头条</h3>
                    </div>
                    <div class="content-box mall-class">
                        <ul class="fly-panel-main fly-list-static" id="index1_2_1_2_content"
                            nctype="object_module_edit">
                            {volist name="$list_b" id="vo"}
                            <li class="cms-index-article-normal">
                                <a class="title" nctype="article_item" href="{:url('/info',[$vo.catid=>$vo.id])}"
                                     target="_blank" data-cname="相关知识 " data-id="{$vo.id}"
                                     data-url="{:url('/info',[$vo.catid=>$vo.id])}"
                                     data-time="{$vo.date}"
                                     data-thumb="/static/img/no_pic.png" data-hits="{$vo.hits}"
                                     data-title=" {$vo.title} " data-curl="">{$vo.title}
                                </a>
                            </li>
                            {/volist}
                        </ul>
                    </div>
                </div>
                <div class="fly-panel fly-signin clt-panel">
                    <div class="title-bar">
                        <div class="fly-panel-title" id="index1_3_title" nctype="object_module_edit">热门标签</div>
                    </div>
                    <div class="fly-panel-main content-box">
                        <ul class="tags" id="index1_3_tag" nctype="object_module_edit">
                            {volist name="$tagsList" id="vo"}
                            <li nctype="btn_tag_select" data-tag-id="{$vo.id}">
                                <a href="/tags/{$vo.name}" title="{$vo.name}"
                                   target="_blank">{$vo.name}</a><i></i>
                            </li>
                            {/volist}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="layui-container">
        <div class="layui-row">
            <div class="layui-col-md12 cms-index-module-ad1">
                <div id="ad_content" nctype="object_module_edit">
                    <div class="img_li picture">
                        <div class="cms-thumb"><a href="__WEBURL__" target="_blank"><img
                                src="/static/home/images/banner_bar.png" alt=""
                                class="t-img"></a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="layui-container cms-index-module-debris1 module-style-style6">
        <div class="debris cms-index-module-debris1-1">
            <div class="layui-row mf15">

                {volist name="$debrisList" id="vo"}
                <div class="layui-col-xs12 layui-col-sm12 layui-col-md4">
                    <div class="site-idea">
                        <fieldset class="layui-elem-field layui-field-title">
                            <legend>
                                <a href="JavaScript:void(0);" id="debris1_{$key}_title"
                                   nctype="object_module_edit">{$vo.title}</a>
                            </legend>

                            <div class="content-box">
                                <div class="info" id="debris1_{$key}_content" nctype="object_module_edit">
                                    {$vo.content|raw}
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
                {/volist}
            </div>
        </div>
    </div>
    <div class="layui-container cms-index-module-article1 module-style-style8">
        <div class="layui-row layui-col-space15 cms-index-module-article1-1">
            <div class="layui-col-md12">
                <div class="fly-panel fly-link">
                    <div class="title-bar">
                        <div class="fly-panel-title" id="index1_4_title" nctype="object_module_edit">友情链接</div>
                    </div>
                    <div class="content-box">
                        <dl class="fly-panel-main" id="index1_3_link" nctype="object_module_edit">
                            {volist name="$linkList" id="vo"}
                            <dd data-link-id="{$vo.id}">
                                <a href="{$vo.url}">{$vo.title}</a><i></i>
                            </dd>
                            {/volist}
                        </dl>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{include file='common/footer'}
<script>
    layui.config({
        version: "3.0.0"
        , base: '/static/home/mods/' //这里实际使用时，建议改成绝对路径
    }).extend({
        fly: 'index'
    }).use('fly');
</script>
</body>
</html>

